.item-wrapper{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-top: 1px solid pink;
    border-bottom: 1px solid pink;
}
.item-description{
    margin: 0 5px;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 500;
    color: palevioletred;
}
.check-item{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid palevioletred;
    border-radius: 100%;
    cursor: pointer;
}
.done{
    background-color: palevioletred;
    border: 2px solid white;
}
.text-done{
    text-decoration-line: line-through;
    color: pink;
}
.item{
    display: flex;
}